  

  
    <!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills pr-5 p-2" orientation="vertical" style="background-color:
    #e6f9ff;" >
      <li ngbNavItem="top" class="p-3"> 
         <a  ngbNavLink routerLink="/graph"> <i class="bi bi-bar-chart-line p-2"> </i> Graph Statistics </a>
        <ng-template ngbNavContent>
          <router-outlet>

          </router-outlet>
            
        </ng-template>
      </li>
      <li ngbNavItem="middle" class="p-3">
        <a  ngbNavLink routerLink="/graph"><i class="bi bi-envelope-fill p-2 "></i>Mail</a>
        <ng-template ngbNavContent>
          
        </ng-template>
      </li>
      <li ngbNavItem="bottom" class="p-3">
        <a   ngbNavLink routerLink="/graph"><i class="bi bi-list-task p-2"></i>Tasks</a>
        <ng-template ngbNavContent>
         
        </ng-template>
      </li>
      <li ngbNavItem="todo" class="p-3">
        <a  ngbNavLink routerLink="/graph"><i class="bi bi-calendar2-week-fill p-2"></i>Todo</a>
        <ng-template ngbNavContent>
           
        </ng-template>
      </li>
      <li ngbNavItem="Notes" class="p-3">
        <a  ngbNavLink routerLink="/notes"><i class="bi bi-pencil-square p-2"></i>Notes</a>
        <ng-template ngbNavContent>
           
        </ng-template>
      </li>
    
      
      

    </ul>
  
    <div [ngbNavOutlet]="nav" class="ml-4"></div> -->

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills pr-5 p-2" orientation="vertical" style="background-color:#e6f9ff;" >
         <li ngbNavItem="top" class="p-3"> 
          <a  ngbNavLink routerLink="/graph"> <i class="bi bi-bar-chart-line p-2"> </i> Graph Statistics </a>
         
       </li>

       <li ngbNavItem="middle" class="p-3">
        <a  ngbNavLink routerLink="/graph"><i class="bi bi-envelope-fill p-2 "></i>Mail</a>
        <ng-template ngbNavContent>
          
        </ng-template>
      </li>
      <li ngbNavItem="bottom" class="p-3">
        <a   ngbNavLink routerLink="/graph"><i class="bi bi-list-task p-2"></i>Tasks</a>
        <ng-template ngbNavContent>
         
        </ng-template>
      </li>
      <li ngbNavItem="todo" class="p-3">
        <a  ngbNavLink routerLink="/graph"><i class="bi bi-calendar2-week-fill p-2"></i>Todo</a>
        <ng-template ngbNavContent>
           
        </ng-template>
      </li>
      <li ngbNavItem="Notes" class="p-3">
        <a  ngbNavLink routerLink="/notes"><i class="bi bi-pencil-square p-2"></i>Notes</a>
        <ng-template ngbNavContent>
           
        </ng-template>
      </li>
    
         
    </ul> <div [ngbNavOutlet]="nav" class="ml-4">  </div>

  
  
