<div calss="cointainer-fluid">
  
  <app-topnav>
 </app-topnav> 
<div class=row>
  <div class="col-md-3">
      <app-navigationbar> 
        
      </app-navigationbar>
</div>
<div class="col-md-8">
  <router-outlet>

  </router-outlet>
</div>
</div>
 
  
  
  
</div>
